<%= render "/shared/navbar" %>

<div>
  <%= image_tag("aboutHeadline.svg", :alt => "about-title", :width => "100%") %>
</div>

<div class="h-100 w-100 secondary-background">
  <div class="container mt-5">
    <div class="container mt-4 mx-auto">
      <div style="width: 95%;">
        <%= render "/shared/messages" %>
      </div>
    </div>


    <div style="text-align:center">
      <%= image_tag("AlinaTeam.svg", :alt => "team1-title", :width => "15%", :class => "mb-5 mx-5") %>
      <%= image_tag("KevinTeam.svg", :alt => "team2-title", :width => "15%", :class => "mb-5 mx-5") %>
      <%= image_tag("JonathanTeam.svg", :alt => "team3-title", :width => "15%", :class => "mb-5 mx-5") %>
    </div>

    <div style="text-align:center">
      <%= image_tag("AdrianaTeam.svg", :alt => "sm-title", :width => "15%", :class => "mb-3 mx-5") %>
      <%= image_tag("CarlosTeam.svg", :alt => "po-title", :width => "15%", :class => "mb-3 mx-5") %>
    </div>
  </div>
</div>