<%= render "/shared/navbar" %>

<div class="h-100 w-100 secondary-background">
  <div class="container mt-5">
    <div class="container mt-4 mx-auto">
      <div style="width: 95%;">
        <%= render "/shared/messages" %>
      </div>
    </div>

    <div>
      <%= image_tag("dashboard-headline.svg", :alt => "dashboard-title", :width => "95%", :class => "mb-3") %>
    </div>

    <div class="mt-2">
      <div class="mb-0">
        <%= image_tag("dashboard-fila-1.svg", :alt => "dashboard-illustration", :width => "95.5%", :class => "mb-3") %>
      </div>
      <div class="mb-0">
        <%= image_tag("dashboard-fila-2.svg", :alt => "dashboard-illustration", :width => "95.5%", :class => "mb-3") %>
      </div>
      <div class="mb-0">
        <%= image_tag("dashboard-fila-3.svg", :alt => "dashboard-illustration", :width => "95.5%", :class => "mb-3") %>
      </div>
    </div>
  </div>
</div>