<%= render "/shared/navbar" %>

<div class="h-10 w-10 secondary-background">
  <div class="container mt-5">
    <p style="color: green"><%= notice %></p>

  </div>
</div>

<div>
    <%= link_to "Productos", products_path %> <br><br><br>
    <%= link_to "Rutas", routes_path %> <br><br><br>
    <%= link_to "Operaciones", operations_path %>
</div>