<div class="d-flex align-items-center">
  <div class="col-4 login-left d-md-flex align-items-center justify-content-center">
    <%= image_tag("logo-login.svg", :alt => "logo") %>
  </div>

  <div class="col-8 login-right px-5 d-md-flex align-items-center justify-content-center">
    <div class="row px-5">
      <div class="my-5">
        <h1>Ingreso al sistema</h1>
        <%# style="margin-top: 10vh;" %>
      </div>

      <div class="col-12">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="mb-4">
            <%= f.label "Correo electrónico", class: "form-label" %><br/>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="mb-4">
            <%= f.label "Contraseña", class: "form-label" %><br/>
            <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
          </div>

          <div class="mb-4">
            <%= f.label "País", class: "form-label" %><br/>
            <%= f.select :last_connected_country, options_for_select(@countries.collect { |c| [c.name, c.id] }), {}, class: "form-select" %>
          </div>


          <div class="mb-3 d-flex">
            <div class="col-6">
              <% if devise_mapping.rememberable? %>
                <div class="mb-3">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>
            </div>

            <div class="col-6 text-end">
              <%= render "devise/shared/links" %>
            </div>
          </div>

          <div class="d-flex">
            <%= f.submit "Iniciar sesión", class: "btn-primario" %>&nbsp;&nbsp;
            <%= link_to "Regresar", root_path, class: "btn-secundario" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>







