<div id="<%= dom_id batch %>">
  <p>
    <strong>Product:</strong>
    <%= batch.product_id %>
  </p>

  <p>
    <strong>Operation:</strong>
    <%= batch.operation_id %>
  </p>

  <p>
    <strong>Current operation:</strong>
    <%= batch.current_operation %>
  </p>

  <p>
    <strong>Units:</strong>
    <%= batch.units %>
  </p>

</div>
