<%= form_with(model: batch) do |form| %>
  <% if batch.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(batch.errors.count, "error") %> prohibited this batch from being saved:</h2>

      <ul>
        <% batch.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "Producto", style: "display: block" %>
    <%= form.select :product_id, options_for_select(@products.collect { |p| [p.code, p.id] }), {}, class: "form-select" %>
  </div>

  <div>
    <%= form.label "Operación", style: "display: block" %>
    <%= form.select :operation_id, options_for_select(@operations.collect { |o| [o.code, o.id] }), {}, class: "form-select" %>
  </div>

  <div>
    <%= form.label :current_operation, style: "display: block" %>
    <%= form.text_field :current_operation %>
  </div>

  <div>
    <%= form.label :units, style: "display: block" %>
    <%= form.number_field :units %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
