<%= form_with(model: batch) do |form| %>
  <% if batch.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(batch.errors.count, "error") %> prohibited this batch from being saved:</h2>

      <ul>
        <% batch.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :product_id, style: "display: block" %>
    <%= form.text_field :product_id %>
  </div>

  <div>
    <%= form.label :operation_id, style: "display: block" %>
    <%= form.text_field :operation_id %>
  </div>

  <div>
    <%= form.label :current_operation, style: "display: block" %>
    <%= form.text_field :current_operation %>
  </div>

  <div>
    <%= form.label :units, style: "display: block" %>
    <%= form.number_field :units %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
