<%= form_with(model: route) do |form| %>
  <% if route.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
        <% route.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "Producto", style: "display: block" %>
    <%= form.select :product_id, options_for_select(@products.collect { |p| [p.code, p.id] }), {}, class: "form-select" %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <table class="table table-hover ">
      <thead>
      <tr>
        <th class="text-center" scope="col">Operación</th>
        <th class="text-center" scope="col">Agregar operación</th>
      </tr>
      </thead>
      <tbody>
      <% @operations.each do |operation| %>
        <% if operation.route_id.nil? %>
          <%= render "/routes/operations_table/table_column", operation: operation %>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
