<div id="<%= dom_id route %>">

  <div class="d-flex align-items-center responsive-width">
    <table class="table table-bordered text-center responsive-width shadow-sm">
      <tr class="table-head-background">
        <th>Nombre de la ruta</th>
        <th>N. de productos asociados</th>
        <th>N. de operaciones</th>
      </tr>
      <tr class="table-row-background">
        <td style="width: 20%; padding: 1rem;"><%= route.code %></td>
        <td style="width: 40%; padding: 1rem;"><%= route.products.count %></td>
        <td style="width: 40%; padding: 1rem;"><%= route.operations.count %></td>
      </tr>
    </table>
  </div>

  <div class="mt-3">
    <%= image_tag("horizontal-divider.svg", :alt => "horizontal-divider", :width => "97%", :class => "mb-3") %>
  </div>

  <%# -- resultados de busqueda -- %>
  <div class="d-flex align-items-center justify-content-center mt-5 responsive-width">
    <div class="col-6">
      <%= image_tag("routes-operations-headline.svg", :alt => "routesDetails-title", :width => "20%", :class => "mb-3") %>
    </div>
    <div class="col-6 container text-end">
      <%= link_to new_operation_path, class: "btn-agregar" do %>
        <i class="bi bi-plus-circle"></i>&nbsp;&nbsp;Agregar operación
      <% end %>
    </div>
  </div>
  <%# ------------- %>

  <div class="d-flex mt-4 align-items-center responsive-width">
    <table class="table table-bordered text-center responsive-width shadow-sm">
      <tr class="table-head-background">
        <th>Número de operación</th>
        <th>Encargado</th>
        <th>N° Lotes</th>
        <th>Acciones</th>
      </tr>

      <% @operations.each do |operation| %>
        <tr class="table-row-background">
          <td style="width: 25%; padding: 1rem;"><%= operation.code %></td>
          <td style="width: 25%; padding: 1rem;">Alina Rodríguez</td>
          <td style="width: 25%; padding: 1rem;"><%= operation.batches.count %></td>
          <td style="width: 25%; padding: 1rem;">
            <%= link_to "Detalles", operation_path(operation), class: "btn-ver" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <%# -- paginacion -- %>
  <div class="flickr_pagination mt-5 mb-3 responsive-width">
    <%= will_paginate @operations, :container => false %>
  </div>
  <%# ------------- %>

  <div class="mt-2">
    <%= image_tag("horizontal-divider.svg", :alt => "horizontal-divider", :width => "97%", :class => "mb-3") %>
  </div>

  <%# -- resultados de busqueda -- %>
  <div class="d-flex align-items-center justify-content-center mt-5">
    <%# <div class="col-4">
      <%=image_tag("routes-products-headline.svg", :alt => "routesDetails-title", :width => "20%",  :class => "mb-3") %>
    <%# </div> %>
    <div class="col-6">
      <p><%= @route.products.count %> Resultados</p>
    </div>
    <div class="col-6 container text-end">
      <%= image_tag("search-tools.svg", :alt => "search-tools", :width => "80%", :class => "mb-3", :style => "margin-right: 5%;") %>
    </div>
  </div>
  <%# ------------- %>

  <div class="d-flex mt-3 align-items-center responsive-width">
    <table class="table table-bordered text-center responsive-width shadow-sm">
      <tr class="table-head-background">
        <th>Código del producto</th>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>

      <% @products.each do |product| %>
        <tr class="table-row-background">
          <td style="width: 25%; padding: 1rem;"><%= product.code %></td>
          <td style="width: 50%; padding: 1rem;"><%= product.description %></td>
          <td style="width: 25%; padding: 1rem;">
            <%= link_to "Detalles", product_path(product), class: "btn-ver" %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <%# -- paginacion -- %>
  <div class="flickr_pagination my-5 responsive-width">
    <% unless @products.empty? || @products.nil? %>
      <%= will_paginate @products, :container => false %>
    <% end %>
  </div>
  <%# ------------- %>

</div>
