<%= render "/shared/navbar" %>

<div class="h-100 w-100 secondary-background">
  <div class="container mt-5">
    <div class="container mt-4 mx-auto">
      <div style="width: 95%;">
        <%= render "/shared/messages" %>
      </div>
    </div>

    <%# -- Titulo de ruta y boton de agregar -- %>
    <div>
      <%= image_tag("Routes-title.svg", :alt => "routes-title", :width => "83%", :class => "mb-3") %>

      &nbsp;&nbsp;&nbsp;

      <%= link_to new_route_path, class: "btn-agregar" do %>
        <i class="bi bi-plus-circle"></i>&nbsp;&nbsp;Agregar ruta
      <% end %>
    </div>
    <%# ------------- %>

    <%# -- resultados de busqueda -- %>
    <div class="d-flex align-items-center justify-content-center mt-5">
      <div class="col-6">
        <p><%= @routes_length %> Resultados</p>
      </div>
      <div class="col-6 container text-end">
        <%= image_tag("search-tools.svg", :alt => "search-tools", :width => "80%", :class => "mb-3", :style => "margin-right: 5%;") %>
      </div>
    </div>
    <%# ------------- %>

    <%# -- tabla de rutas -- %>
    <div id="routes" class="responsive-width mt-4">
      <table class="table table-bordered text-center shadow-sm">
        <tr class="table-head-background">
          <th>Nombre de la ruta</th>
          <th>N° Productos</th>
          <th>N° Operaciones</th>
          <th>Acciones</th>
        </tr>

        <% @routes.each do |route| %>
          <tr class="table-row-background">
            <td style="width: 30%; padding: 1.2rem;"><%= route.code %></td>
            <td style="width: 15%; padding: 1.2rem;"><%= route.products.count %></td>
            <td style="width: 15%; padding: 1.2rem;"><%= route.operations.count %></td>
            <td style="width: 40%; padding: 1.2rem;">
              <%= link_to "Detalles", route_path(route), class: "btn-ver", route: route %>
              <%= link_to "Eliminar", route_path(route), data: { 'turbo-method': :delete, 'turbo-confirm': '¿Estás seguro(a) que deseas eliminar esta ruta?' }, class: "btn-eliminar" %>
            </td>
          </tr>
        <% end %>
      </table>

      <%# -- paginacion -- %>
      <% unless @routes.empty? || @routes.nil? %>
        <div class="flickr_pagination my-5 responsive-width">
          <%= will_paginate @routes, :container => false %>
        </div>
      <% end %>
      <%# ------------- %>

    </div>
    <%# ------------- %>


  </div>

</div>