<p style="color: green"><%= notice %></p>

<%= render @route %>

<div>
  <%= link_to "Edit this route", edit_route_path(@route) %> |
  <%= link_to "Back to routes", routes_path %>

  <%= button_to "Destroy this route", @route, method: :delete %>
</div>
