<%= render "/shared/navbar" %>

<div class="h-100 w-100 secondary-background">
  <div class="container mt-5">
    <p style="color: green"><%= notice %></p>

    <%# -- Titulo de ruta y boton de eliminar -- %>
    <div>
      <%=image_tag("route-details-headline.svg", :alt => "routesDetails-title", :width => "83%",  :class => "mb-3") %>
      
      &nbsp;&nbsp;&nbsp;

      <%= link_to "#", class: "btn-eliminar" do %>
          <i class="bi bi-plus-circle"></i>&nbsp;&nbsp;Eliminar ruta
      <% end %>
    </div>
    <%# ------------- %>

    <div class="mt-4">
      <%= render @route%>
    </div>

  </div>
</div>


<div>
  <%= link_to "Edit this route", edit_route_path(@route) %> |
  <%= link_to "Back to routes", routes_path %>

  <%= button_to "Destroy this route", @route, method: :delete %>
</div>
