<%= form_with(model: operation) do |form| %>
  <%= render 'shared/errors', obj: @operation %>

  <div>
    <%= form.label :code, style: "display: block" %>
    <%= form.text_field :code, style: "display: block" %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
